body {
    font-family: "Freight Sans", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    background-color: #edf0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    vertical-align:bottom;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px green;
    text-align: center;
    width: 300px;
    border-color: black;
    border-style:groove;
    border-width: 2px;
    
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid ;
    border-radius: 5px;
}

button {
    background-color: #659d50;
    color: white;
    padding: 10px;
    border: none;                                                                   
    border-radius: 90px;
    width: 100%;
    font-weight: bold;
}

button:hover {
    background-color: darkgreen;
}

a {
    color: #1877f2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}
div {
    text-align: center;
    vertical-align: auto;

}
input{
    vertical-align: auto;
}